<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{asset('css/materialize.css')}}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="{{asset('js/materialize.js')}}"></script>
        <link rel="stylesheet" href="{{asset('fonts/roboto/Roboto-Medium.woff')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}VideHome{% endblock %}</title>
        {% block stylesheets %}

      {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('apple-touch-icon.png') }}" />
    </head>
    <body>
        {% include 'header.html.twig' %}
        <div class="container-fluid">
                {% block body %}
                <div class="row">
                    <div class="col m3 ">
                        {% block side %}
                            {% include 'side.html.twig'%}
                        {% endblock %}
                    </div>
                    <div class="col m9 ">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
              {% endblock %}
          </div>
        {% include 'footer.html.twig' %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
