

{% block header %}
  <nav class="blue-grey lighten-5">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="col md 3"><a href="sass.html">Connexion</a></li>
        <li><a href="badges.html">Inscription</a></li>
      </ul>
    </div>
  </nav>

{% endblock %}

{% block stylesheets %}
<style>

nav ul a {
  font-size: 1.1rem;
  color: #37474f;
}

i{
    color: #37474f;
}

</style>
{% endblock %}
