{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Retour aux événements </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
<script>

$(function(){
  $(document).ready(function() {

});
});


</script>
{% endblock %}
